@{ 
    Layout = null;
}

        <div class="loginRegister">
            <a href="#" class="backSection fas fa-arrow-right"></a>
            <div class="logo">
                <img src="/dist/img/logo.png" alt="HomeKito">
            </div>
            <h1 class="title">کد تایید را وارد نمایید</h1>

            @*<label class="err">حساب کاربری با شماره موبایل ۰۹۳۷۸۱۱۷۷۰۳ وجود ندارد.</label>
            <label class="err">برای ساخت حساب جدید، کد تایید برای این شماره ارسال گردید.</label>*@
            <div class="boxInput">
                <input id="code" type="text" placeholder="کد تایید را وارد نمایید" />
            </div>
            <div class="hrb_timer" data-time="03:05"></div>
            <div class="RowButton center">
                <div onclick="SubmitStep2()" class="buttonAuth">ورود به هومکیتو</div>
            </div>
        </div>