@model List<Barayand.Models.Entity.GalleryCategoryModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="contentMain">
        <div class="container">
            <div class="BoxBreads">
                <div class="breadcrumbs">
                    <a href="/" class="breadc fas fa-chevron-left">خانه</a>
                    <a href="/VideoGallery" class="breadc fas fa-chevron-left">گالری ویدئو</a>
                </div>
                <a href="/VideoGallery">Video Gallery</a>
            </div>

            <div id="gallerylist">
                @await Html.PartialAsync("_GalleryList", Model)
            </div>
        </div>
    </div>
